.card {
  flex: 0 0 30%;
  background-color: #fff;
  padding: 4rem 2rem;
  margin-bottom: var(--margin-bottom--3);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40rem;
  transition: all 0.5s;
  position: relative;
  backface-visibility: hidden;
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-dark);
    transform: scale(1.1);
  }
}
