.cart {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-left: 1.5rem;
  cursor: pointer;
  position: relative;
  &__cart-icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.7rem;
    fill: var(--color-grey-dark-2);
  }

  & h3 {
    font-size: 1.5rem;
  }

  &__counter {
    font-size: 1.5rem;
    background-color: var(--color-primary-dark);
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    color: var(--color-grey-dark-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1rem;
    left: 1.5rem;
  }
}
