.activity {
  font-size: 1.3rem;
  padding: 0.3rem 5rem;
  margin-top: 12rem;
  color: var(--color-grey-dark-3);
  display: flex;

  &__tab {
    cursor: pointer;
    transition: all 0.3s ease;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      color: var(--color-grey-dark-1);
      padding-bottom: 0.5rem;
      border-bottom: 0.25rem solid var(--color-primary-dark);
    }
  }
}
